@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.Labels-wrapper {
  overflow: hidden;
  padding-right: 12px;
}

.Label {
  color: #222222;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Title {
  font-weight: bold;
  margin-bottom: 2px;
}
